@import "../../../globals.scss";

#home {
	color: #dadada;

	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	max-width: 1000px;

	.header {

		margin: 30px;

		.title {
			font-size: 40px;
		}

		.subtitle {
			font-size: 25px;
		}
	}

	.submit-wrapper > div {
		height: 80px !important;
		width: 500px !important;
		font-size: 20px;
		border-radius: 10px !important;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	.de-captcha {
		flex: 1;
		width: 100%;
		min-width: 600px;
		min-height: 350px;
		background: #dadada;
		margin: 20px;

		.img-container {

			flex: 1;
			display: flex;
			align-items: center;

			.loading-spinner-wrapper .sk-pulse>div {
				width: 200px !important;
				height: 200px !important;
			}

			.img-to-label {
				width: 400px;
				height: 300px;
			}
		}

		.submission-container {
			font-size: 18px;

			.input-wrapper {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;

				input, div {
					margin: 10px;
					height: 40px;
					border-radius: 3px;
				}

				.label-input {
					width: 200px;
					border: none;
					padding-left: 10px;

					&:focus {
						outline-width: 0;
					}
				}

				.submit-label-btn {
					color: #dadada;
					background: #0D2537;
					width: 140px;
					justify-content: center;
					align-items: center;
					display: flex;
					border-radius: 3px;

					cursor: pointer;
				}
			}
		}
	}

	.footer {
		margin: 20px;
		font-size: 20px;
	}

}