@import "../../../globals.scss";

#home {
	color: #dadada;

	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	max-width: 1000px;

	.header {

		margin: 30px;

		.title {
			font-size: 40px;
		}

		.subtitle {
			margin-top: 15px;
			font-size: 25px;
		}
	}

	.submit-wrapper {
		margin-top: 20px;
	}

	.submit-wrapper > div {
		height: 80px !important;
		width: 500px !important;
		font-size: 20px;
		border-radius: 10px !important;

		display: flex;
		align-items: center;
		justify-content: center;

		cursor: pointer;

		.upload-description {
			margin: 20px;
		}
	}

	.de-captcha {
		flex: 1;
	}

	.footer {
		margin: 20px;
		font-size: 20px;
	}

}