html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Avenir !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
	background: linear-gradient(to bottom right, #0D2537, #1E4C68);
}

#home {
	color: #dadada;
	background: linear-gradient(to bottom right, #0D2537, #1E4C68);

	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;

	.header {

		margin: 25px;

		.title {
			font-size: 40px;
		}

		.subtitle {
			margin-top: 15px;
			font-size: 25px;
		}
	}

	.submit-wrapper {
		margin-top: 35px;
	}

	.submit-wrapper > div {
		height: 80px !important;
		width: 550px !important;
		font-size: 20px;
		border-radius: 10px !important;

		display: flex;
		align-items: center;
		justify-content: center;

		cursor: pointer;

		.upload-description {
			margin: 20px;
		}
	}

	.footer {
		margin: 20px;
		font-size: 20px;
	}

}